In [2]:
import numpy as np
import pandas as pd

In [3]:
file_path = "C:/Users/82108/Desktop/jw/프로젝트/반려동물등록현황전처리전/서울특별시_마포구 동물등록 현황_20240216.csv"
df_raw = pd.read_csv(file_path, encoding='euc-kr')
# 파일불러오기 
# 인코딩 문제 발생, 현재 파일이 EUC-KR로 인코딩되어 있으므로 encoding='euc-kr'으로 지정

In [4]:
# 원본 데이터
df_raw.head()

   법정동  RFID 내장형  RFID 외장형  RFID 인식표      합계  데이터기준일자  Unnamed: 6
0   중동     335.0     253.0      46.0   634.0  45337.0         NaN
1  공덕동     871.0     555.0      79.0  1505.0  45337.0         NaN
2  구수동      33.0      25.0       4.0    62.0  45337.0         NaN
3  당인동      53.0      36.0       3.0    92.0  45337.0         NaN
4  대흥동     470.0     295.0      33.0   798.0  45337.0         NaN

In [23]:
# 원본데이터 복사
dongjak = df_raw.copy()

In [24]:
# 필요한 컬럼만 남기기
dongjak = dongjak[['법정동','동물소유자수','동물소유자당동물등록수','반려동물총계']]

# 컬럼명 변경하기
dongjak.rename(columns={'법정동':'Location',
                            '동물소유자수':'Pet_Owners',
                            '동물소유자당동물등록수':'Registrations_per_Pet_Owner',
                            '반려동물총계':'Total_Registrations'},
                  inplace=True)

dongjak

  Location  Pet_Owners  Registrations_per_Pet_Owner  Total_Registrations
0       본동         462                         1.27                  585
1      대방동        1579                         1.25                 1979
2      동작동         283                         1.21                  342
3      사당동        3871                         1.32                 5126
4      상도동        4738                         1.29                 6119
5      흑석동        1340                         1.27                 1702
6     상도1동         382                         1.30                  495
7     노량진동        1158                         1.30                 1509
8     신대방동        1888                         1.29                 2438

In [25]:
# 결측치 제거
dongjak.dropna(inplace=True)
dongjak

  Location  Pet_Owners  Registrations_per_Pet_Owner  Total_Registrations
0       본동         462                         1.27                  585
1      대방동        1579                         1.25                 1979
2      동작동         283                         1.21                  342
3      사당동        3871                         1.32                 5126
4      상도동        4738                         1.29                 6119
5      흑석동        1340                         1.27                 1702
6     상도1동         382                         1.30                  495
7     노량진동        1158                         1.30                 1509
8     신대방동        1888                         1.29                 2438

In [28]:
# 파일 저장하기
dongjak.to_csv("./ddongjak.csv")