In [21]:
import numpy as np
import pandas as pd

In [22]:
file_path = "C:/Users/82108/Desktop/jw/프로젝트/반려동물등록현황전처리전/서울특별시_서초구_동물등록 현황_20230630.csv"
df_raw = pd.read_csv(file_path, encoding='euc-kr')
# 파일불러오기 
# 인코딩 문제 발생, 현재 파일이 EUC-KR로 인코딩되어 있으므로 encoding='euc-kr'으로 지정

In [23]:
# 원본 데이터
df_raw.head()

   법정동  내장형무선인식(RFID)  외장형무선인식(RFID)  인식표  등록품종수  동물소유자수      데이터기준일
0  내곡동            198            199   42     48     308  2023-06-30
1  반포동           2595           2176  432     85    4034  2023-06-30
2  방배동           3426           2443  559     90    5111  2023-06-30
3  서초동           3173           2611  466     94    4760  2023-06-30
4  신원동            154            151   24     39     244  2023-06-30

In [24]:
# 원본데이터 복사
seocho = df_raw.copy()

In [25]:
# 반려동물총계 컬럼 만들기
seocho['반려동물총계'] = seocho['내장형무선인식(RFID)'] + seocho['외장형무선인식(RFID)'] + seocho['인식표']

# 반려동물소유자당동물등록수 컬럼 만들기
seocho['동물소유자당동물등록수'] = round(seocho['반려동물총계'] / seocho['동물소유자수'],2)

seocho.head()

,법정동,내장형무선인식(RFID),외장형무선인식(RFID),인식표,등록품종수,동물소유자수,데이터기준일,반려동물총계,동물소유자당동물등록수
0,내곡동,198,199,42,48,308,2023-06-30,439,1.43
1,반포동,2595,2176,432,85,4034,2023-06-30,5203,1.29
2,방배동,3426,2443,559,90,5111,2023-06-30,6428,1.26
3,서초동,3173,2611,466,94,4760,2023-06-30,6250,1.31
4,신원동,154,151,24,39,244,2023-06-30,329,1.35

In [26]:
# 필요한 컬럼만 남기기
seocho = seocho[['법정동','동물소유자수','동물소유자당동물등록수','반려동물총계']]

# 컬럼명 변경하기
seocho.rename(columns={'법정동':'Location',
                            '동물소유자수':'Pet_Owners',
                            '동물소유자당동물등록수':'Registrations_per_Pet_Owner',
                            '반려동물총계':'Total_Registrations'},
                  inplace=True)

seocho

  Location  Pet_Owners  Registrations_per_Pet_Owner  Total_Registrations
0      내곡동         308                         1.43                  439
1      반포동        4034                         1.29                 5203
2      방배동        5111                         1.26                 6428
3      서초동        4760                         1.31                 6250
4      신원동         244                         1.35                  329
5      양재동        1717                         1.32                 2263
6      염곡동          54                         1.54                   83
7      우면동        1106                         1.32                 1460
8      원지동          12                         1.33                   16
9      잠원동        2518                         1.26                 3166

In [27]:
# 결측치 제거
seocho.dropna(inplace=True)
seocho

  Location  Pet_Owners  Registrations_per_Pet_Owner  Total_Registrations
0      내곡동         308                         1.43                  439
1      반포동        4034                         1.29                 5203
2      방배동        5111                         1.26                 6428
3      서초동        4760                         1.31                 6250
4      신원동         244                         1.35                  329
5      양재동        1717                         1.32                 2263
6      염곡동          54                         1.54                   83
7      우면동        1106                         1.32                 1460
8      원지동          12                         1.33                   16
9      잠원동        2518                         1.26                 3166

In [28]:
# 파일 저장하기
seocho.to_csv("./seocho.csv")