In [1]:
import pandas as pd
import numpy as np

In [2]:
# 반려동물 현황 등록 데이터 불러오기
seocho_registration_row = pd.read_csv('C:/Users/82108/Desktop/jw/프로젝트/반려동물등록현황전처리후/반려동물등록현황/seocho_지우_v1.csv')

# 원본 데이터 복사
seocho_registration = seocho_registration_row.copy()

# 원하는 컬럼 추출
seocho_registration = seocho_registration[['Gu','Dong','Pet_Owners','Total_Registrations']]

seocho_registration

    Gu Dong  Pet_Owners  Total_Registrations
0  서초구  내곡동         308                  439
1  서초구  반포동        4034                 5203
2  서초구  방배동        5111                 6428
3  서초구  서초동        4760                 6250
4  서초구  신원동         244                  329
5  서초구  양재동        1717                 2263
6  서초구  염곡동          54                   83
7  서초구  우면동        1106                 1460
8  서초구  원지동          12                   16
9  서초구  잠원동        2518                 3166

In [4]:
# 인구 수 데이터 불러오기
seocho_population_raw = pd.read_csv('../인구수전처리전/서초구_인구수.csv', encoding='euc-kr')

# 원본 데이터 복사
seocho_pop = seocho_population_raw.copy()

# 원하는 컬럼 추출
seocho_pop = seocho_pop[['동별(3)','2023']]

# 컬럼 명 변경
seocho_pop.rename(columns={'동별(3)': 'Dong',
                           '2023':'Population'}, inplace=True)

seocho_pop

    Dong  Population
0   서초1동       20352
1   서초2동       25140
2   서초3동       32384
3   서초4동       30558
4    잠원동       27015
5   반포본동         241
6   반포1동       34190
7   반포2동       23436
8   반포3동       23845
9   반포4동       19229
10  방배본동       20575
11  방배1동       16644
12  방배2동       18171
13  방배3동       16058
14  방배4동       23108
15  양재1동       42333
16  양재2동       21545
17   내곡동       17254

In [5]:
# 위 서초구의 각 동을 연산하여 9개의 동으로 묶어야 함
seocho_registration['Dong']

0    내곡동
1    반포동
2    방배동
3    서초동
4    신원동
5    양재동
6    염곡동
7    우면동
8    원지동
9    잠원동
Name: Dong, dtype: object

In [6]:
dong_mapping = {
    '내곡동':['내곡동'],
    '반포동':['반포1동','반포2동','반포3동','반포4동','반포본동'],
    '방배동':['방배1동','방배2동','방배3동','방배4동','방배본동'],
    '서초동':['서초1동','서초2동','서초3동','서초4동'],
    '신원동':[],
    '양재동':['양재1동','양재2동'],
    '염곡동':[],
    '우면동':[],
    '원지동':[],
    '잠원동':['잠원동']
}

In [7]:
category_seocho_pop ={}
for category, dongs in dong_mapping.items():
    category_seocho_pop[category] = seocho_pop[seocho_pop['Dong'].isin(dongs)]['Population'].sum()
    
category_seocho_pop

{'내곡동': 17254,
 '반포동': 100941,
 '방배동': 94556,
 '서초동': 108434,
 '신원동': 0,
 '양재동': 63878,
 '염곡동': 0,
 '우면동': 0,
 '원지동': 0,
 '잠원동': 27015}

In [8]:
# 딕셔너리의 키와 값을 리스트 형식으로 만들어 데이터프레임으로 변경경
category_seocho_pop = pd.DataFrame({'Dong': list(category_seocho_pop.keys()), 'Population': list(category_seocho_pop.values())})

# 결과 출력
category_seocho_pop = pd.DataFrame(category_seocho_pop)
category_seocho_pop

  Dong  Population
0  내곡동       17254
1  반포동      100941
2  방배동       94556
3  서초동      108434
4  신원동           0
5  양재동       63878
6  염곡동           0
7  우면동           0
8  원지동           0
9  잠원동       27015

In [9]:
seocho_registration = pd.DataFrame(seocho_registration)
seocho_registration

    Gu Dong  Pet_Owners  Total_Registrations
0  서초구  내곡동         308                  439
1  서초구  반포동        4034                 5203
2  서초구  방배동        5111                 6428
3  서초구  서초동        4760                 6250
4  서초구  신원동         244                  329
5  서초구  양재동        1717                 2263
6  서초구  염곡동          54                   83
7  서초구  우면동        1106                 1460
8  서초구  원지동          12                   16
9  서초구  잠원동        2518                 3166

In [10]:
# 동을 기준으로 병합 작업
merge = pd.merge(category_seocho_pop,seocho_registration, on='Dong')
merge

  Dong  Population   Gu  Pet_Owners  Total_Registrations
0  내곡동       17254  서초구         308                  439
1  반포동      100941  서초구        4034                 5203
2  방배동       94556  서초구        5111                 6428
3  서초동      108434  서초구        4760                 6250
4  신원동           0  서초구         244                  329
5  양재동       63878  서초구        1717                 2263
6  염곡동           0  서초구          54                   83
7  우면동           0  서초구        1106                 1460
8  원지동           0  서초구          12                   16
9  잠원동       27015  서초구        2518                 3166

In [11]:
merge = merge[['Gu','Dong','Population','Pet_Owners','Total_Registrations']]
merge

    Gu Dong  Population  Pet_Owners  Total_Registrations
0  서초구  내곡동       17254         308                  439
1  서초구  반포동      100941        4034                 5203
2  서초구  방배동       94556        5111                 6428
3  서초구  서초동      108434        4760                 6250
4  서초구  신원동           0         244                  329
5  서초구  양재동       63878        1717                 2263
6  서초구  염곡동           0          54                   83
7  서초구  우면동           0        1106                 1460
8  서초구  원지동           0          12                   16
9  서초구  잠원동       27015        2518                 3166

In [13]:
# 0이 포함된 행 제거
merge = merge[(merge['Population'] != 0) & (merge['Pet_Owners'] != 0) & (merge['Total_Registrations'] != 0)]
merge.reset_index(drop=True, inplace=True)
merge

    Gu Dong  Population  Pet_Owners  Total_Registrations
0  서초구  내곡동       17254         308                  439
1  서초구  반포동      100941        4034                 5203
2  서초구  방배동       94556        5111                 6428
3  서초구  서초동      108434        4760                 6250
4  서초구  양재동       63878        1717                 2263
5  서초구  잠원동       27015        2518                 3166

In [14]:
merge.to_csv('seocho_Pet_Population.csv', encoding='utf-8')